################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataLayer/obj
/ServiceLayer/bin/Debug/netcoreapp2.1
/ServiceLayer/obj
/InvestecProject/bin/Debug/netcoreapp2.1
